[data-completed="true"] {
    text-decoration: line-through;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root {
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    background: #eee;
}
.TodoHolder h2 {
    font-size: 2.5em;
}